@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #b91c1c;
  --color-brand-dark: #991b1b;
  --color-brand-light: #ef4444;
}
